html, head, body, div, ul, li, p, img, h2 {
    margin:0px;
    padding:0px;
    scroll-behavior: smooth;
    list-style: none;
    font-family: 'Mulish';
}
img {
    width: 100%;
    height: 100%;
}
a, a:active, a:visited, a:hover {
    text-decoration: none;
    color: #FFFFFF;
}
.font-allan {
    font-family: 'Allan';
}
body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #040735;
}

body::-webkit-scrollbar{
    background-color: #040735;
    width: 12px;
}

body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #11122b;
    width:12px;
}

body {
    background-color: #010438;
}

/** menu **/
.logo {
    margin-left: 10px;
    width: 123px;
    height: 48px;
    display: inline-block;
}

.menu {
    float:right;
    margin-right:10px;
    margin-top:10px;
    width: 32px;
    height: 32px;
}
.menu-close {
    float:right;
    margin-right:10px;
    margin-top:10px;
    width: 18.71px;
    height: 18.71px;
}

.header > .menu-body {    
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #010438;
}

.item-cen {
    margin: 30px 0px;
}
.item-cen > a {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0px 5px;
    padding: 10px 15px;
}
.menu-app {
    max-width: 300px;
    margin: auto;
}
.data-socal > .socal {

}
/** menu **/