a:link,a:visited,a:hover,a:active {
    color: #FFFFFF;
    text-decoration: none;
}

body {
    background-color: #010438;
}

.desktop > .header.menu > .logo{
    position: relative;
    display: inline-block;
    right: -15%;
    top: 34px;
}

.desktop > .header.menu > .menu-app{
    position: relative;
    display: inline-block;
    left: 75%;
    top: -55px;
    transition: all 2s ease-in-out;
}

.desktop > .header.menu > .menu-app > .btn:hover {
    transform: scale(1.15)
}

.desktop > .header.menu > .menu-center {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.desktop > .header.menu > .menu-center > .item-cen {
    display: inline-block;
}

.desktop > .header.menu > .menu-center > .item-cen > a {
    font-family: 'Allan';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0px 5px;
    padding: 10px 15px;
}

.desktop > .header.menu > .menu-center > .item-cen > a.active {
    font-style: italic;
    background: rgba(249, 171, 129, 0.15);
    box-shadow: inset 2px -2px 2px rgb(255 255 255 / 10%), inset -2px 2px 2px rgb(255 255 255 / 20%);
    backdrop-filter: blur(64px);
    border-radius: 96px;
}