


.header.menu-fixed .header__bottom, .header__top, .footer__top, .second--bg{
    background-color: #002046 !important;
}

.custom--accordion .accordion-button:not(.collapsed)::after{
    color: #002046 !important;
}

.header-login-btn{
    border: 1px solid #37ebec;
    background-color: #37ebec;
}

.testimonial-card__client .thumb{
    border: 3px solid #37ebec;
}

.btn--base, .roadmap-wrapper::after, .single-roadmap .roadmap-dot, .subscribe-form .subscribe-btn, .scroll-to-top, .custom--accordion .accordion-button:not(.collapsed), .video-btn::before, .video-btn::after, .video-btn, .loadbar, .cursor, .custom--file-upload::before, .header .main-menu li .sub-menu, .header .main-menu li .sub-menu li a::before, .btn-outline--base:hover, .btn--primary, .qr-code-copy-form input[type="submit"], .pagination .page-item.active .page-link, .custom--bg, .modal-header .btn-close:hover, .preloader div:before{
    background-color: #37ebec !important;
}
.single-roadmap:hover, .deposit-card:hover, .d-widget:hover{
    border-color: #37ebec !important;
}

.feature-card__icon i, .testimonial-card::before, .date-unit-list .single-unit span, .page-breadcrumb li:first-child::before, b.text-success, .custom--cl, .custom--accordion .accordion-button::after, .contact-card__icon i, .header .main-menu li a:hover, .header .main-menu li a:focus, .header-login-btn:hover i, .header .top-info a, .text--base, .d-widget__icon i, .btn-outline--base  {
    color: #37ebec !important;
}
a.btn-outline--base:hover {
    color: #000  !important;
}
.header .main-menu li .sub-menu li a:hover {
    color: #000 !important;
}

.feature-card, .team-card{
    box-shadow: 0 0 0px 2px #37ebec !important;
}
.feature-card:hover, .team-card:hover{
    box-shadow: 0 5px 25px 2px #37ebec !important;
}

.social-links li a:hover, .input-group-text{
    background-color: #37ebec !important;
    border-color: #37ebec !important;
}

.cursor-follower, .btn-outline--base{
    border: 1px solid #37ebec !important;
}

.account-wrapper, .header .main-menu li .sub-menu, .deposit-preview-card, .single-roadmap, .testimonial-card, .deposit-card{
    border: 2px solid #37ebec2b !important;
}

.account-thumb-area .account-thumb, .custom--accordion .accordion-item, .custom--border{
    border: 1px solid #37ebec !important; 
}
.form-control:placeholder-shown,
.country-code .input-group-prepend .input-group-text {
    border-color: rgba(255, 255, 255, 0.15) !important;
}

.form-control, .form-control:focus{
    border-color: #37ebec !important;
}

.roadmap-wrapper .single-roadmap:nth-child(even)::before{
    border-color: transparent transparent transparent #37ebec !important;
}

.roadmap-wrapper .single-roadmap::before{
    border-color: transparent #37ebec transparent transparent;
}

.roadmap-wrapper .single-roadmap:hover::before {
    border-color: transparent #37ebec transparent transparent; 
}

.deposit-card:hover {
    box-shadow: 0 5px 20px 1px  #37ebec;
}

.glass--bg, .custom--card, .single-roadmap, .testimonial-slider .prev, .testimonial-slider .next, .contact-form, .contact-card, .d-widget, .header-login-btn:hover, .feature-card::before, .team-card::after{
    background-color: #37ebec2b;
}

a.btn--base:hover, .btn--base:hover, [class*="btn--"]:not(.btn--link):not(.btn--light):not(.btn) {
    color: #000 !important;
}
.btn--base:hover {
    box-shadow: 0 2px 5px 1px #37ebecba;
}
.custom--table {
    background-color: #37ebec15;
}

.count-wrapper {
    border-color: #37ebec;
    box-shadow: 0 0 15px 0px #37ebec;
    --shadow-color: #37ebec;
}

.testimonial-card:hover {
    border-color: #37ebec !important;
}

.d-widget__amount::after {
    background-color: #37ebec15;
}

.d-widget:hover .d-widget__amount::after {
    background-color: #37ebec;
}

.d-widget {
    border-color: #37ebec;
}
.d-widget:hover {
    box-shadow: 0 3px 10px 1px #37ebec85;
}
.highlighted-text {
    background-color: #37ebec;
    box-shadow: 0 0 5px 1px #37ebec;
}
.custom--card {
    border-color: #37ebec15;
}

.profile-thumb .avatar-edit label {
    background-color: #37ebec;
}

.subscribe-wrapper,
.subscribe-form,
.contact-form,
.contact-card {
    border-color: #37ebec !important;
}

@supports (backdrop-filter: none) {
	.glass--bg, .custom--card, .single-roadmap, .testimonial-slider .prev, .testimonial-slider .next, .contact-form, .contact-card, .d-widget, .glass--bg-two, .testimonial-card, .subscribe-wrapper, .account-wrapper {
        background-color: #37ebec33 !important;
    }
}

@supports not (backdrop-filter: none) {
    .glass--bg, .custom--card, .single-roadmap, .testimonial-slider .prev, .testimonial-slider .next, .contact-form, .contact-card, .d-widget, .glass--bg-two, .testimonial-card, .subscribe-wrapper, .account-wrapper {
        background-color: #002046d6 !important;
    }
}


.video-btn:hover{
    color: black;
}